:root {

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100dvh;
    overflow-x: hidden;
  }

  body {
    color: #ffffff;
    background: #10092b;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .d-none {
    display: none;
  }

  .flex {
    display: flex;
  }

  .align-center {
    align-items: center;
  }

  .layout-footer {
    display: flex;
    /* flex: 1; */

    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 1rem 2rem;
    background: #ffffff0d;
  }
}