.CardItem {
  --card-background-color: linear-gradient(130deg, #7f1b96, #35136b);
  --card-text-color: #ffffff;
  --card-btn-background-color: #9F1CDD;
  --card-btn-border-color: #ffffff;
  --card-btn-text-color:#ffffff;
  --card-btn-disabled-bg-color: #b6b6b6;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 10px 10px 0px 10px;
  border-radius: 30px;
  background: #362375;
  background-image: var(--card-background-color);
  /* border: 2px solid #ffffff; */
  /* align-items: center; */
  /* min-height: 200px; */
}
.ThemeBlue {
  --card-background-color: linear-gradient(130deg, #5773b5, #2e4788);
  --card-text-color: #ffffff;
  --card-btn-background-color: #3d548c;
  --card-btn-border-color: #ffffff;
  --card-btn-text-color: #ffffff;
}

.ThemeYellow {
  --card-background-color: linear-gradient(130deg, #FFD013, #FFB24D);
  --card-text-color: #000000;
  --card-btn-background-color: #FFB24D;
  --card-btn-border-color: #ffffff;
  --card-btn-text-color: #000000;
}

.ThemePink {
  --card-background-color: linear-gradient(130deg, #F44FA3, #C80E78);
  --card-text-color: #ffffff;
  --card-btn-background-color: #EB6CB4;
  --card-btn-border-color: #ffffff;
  --card-btn-text-color: #ffffff;
}

.thfontlight {
  font-weight: 200 !important;
}

.thfontbold {
  font-weight: 300 !important;
}

.CardItemTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 5px;
}

.CardItemHeaderContent {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 30px 25px 12px 25px;
  /* height: inherit; */
}

.HeaderIconContainer {
  display: flex;
  /* flex: 1; */
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}

.HeaderTextContainer {
  display: flex;
  flex: 9;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 60px; /* can remove if not work let ple decide */
  align-items: center; /* can remove if not work let ple decide */
}

.HeaderTextContainer .HeaderText {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--card-text-color);
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-align: center;
}

@media screen and (max-width: 690px) {
  .HeaderTextContainer .HeaderText {
    -webkit-line-clamp: 3;
  }
  
}

.CardItemBodyContent {
  display: flex;
  flex-direction: row;
  padding: 0px 30px 10px 30px;
  max-height: 200px;
  overflow-y: auto;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 1
    /* height: inherit; */
}


.CardItemBodyContent.NonExpanded {
  max-height: 0;
  opacity: 0;
}

.CardItemBodyContent::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}

.CardItemBodyContent::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, .5);
}


.CardItemActionContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 0px 10px 0px;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.CardItemActionContent.HaveContent.NonExpanded svg:hover {
  animation: pulsate-fwd 1s ease-in-out infinite both;
  cursor: pointer;
}



.CardItemActionContent.Expanded svg {
  transform: rotate(180deg);
  transition: transform 0.5s;
  cursor: pointer;
  /* animation: moveRotateUpDown 1.5s infinite; */
}

.CardItemActionContent.HaveContent+.CardItemActionContent.Expanded svg {
  transform: rotate(180deg);
  transition: transform 0.5s;
  cursor: pointer;
  /* animation: moveRotateUpDown 1.5s infinite; */
}

.CardItemFooterContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-bottom: -20px; */
}

.randomBtn{
  background-color: var(--card-btn-background-color);
  border: 2px solid var(--card-btn-border-color);
  color: var(--card-btn-text-color);
  font-size: 1em;
  font-weight: 600;
}

.randomBtn:disabled{
  background-color: var(--card-btn-disabled-bg-color);
  border: 2px solid var(--card-btn-disabled-bg-color);
}

@keyframes pulsate-fwd {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}