.CardItem {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 10px 10px 0px 10px;
  border-radius: 30px;
  background: #362375;
  background-image: linear-gradient(320deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%);
  /* align-items: center; */
  /* min-height: 200px; */
}

.CardItemTitle {
  display: flex;
  flex-direction: row;
}

.CardItemHeaderContent {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 30px 25px 12px 25px;
  /* height: inherit; */
}

.HeaderIconContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}

.HeaderTextContainer {
  display: flex;
  flex: 9;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 60px; /* can remove if not work let ple decide */
  align-items: center; /* can remove if not work let ple decide */
}

.HeaderTextContainer p {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.CardItemBodyContent {
  display: flex;
  flex-direction: row;
  padding: 0px 30px 10px 30px;
  max-height: 200px;
  overflow-y: auto;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 1
    /* height: inherit; */
}


.CardItemBodyContent.NonExpanded {
  max-height: 0;
  opacity: 0;
}

.CardItemBodyContent::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}

.CardItemBodyContent::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, .5);
}


.CardItemActionContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 0px 15px 0px;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.CardItemActionContent.HaveContent.NonExpanded svg:hover {
  animation: pulsate-fwd 1s ease-in-out infinite both;
  cursor: pointer;
}



.CardItemActionContent.Expanded svg {
  transform: rotate(180deg);
  transition: transform 0.5s;
  cursor: pointer;
  /* animation: moveRotateUpDown 1.5s infinite; */
}

.CardItemActionContent.HaveContent+.CardItemActionContent.Expanded svg {
  transform: rotate(180deg);
  transition: transform 0.5s;
  cursor: pointer;
  /* animation: moveRotateUpDown 1.5s infinite; */
}

.CardItemFooterContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -20px;
}

@keyframes pulsate-fwd {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}