.main {
  display: flex;
  flex: auto;
  /* max-height: calc(100dvh - 140px); */
  max-height: calc(100dvh - 80px);

  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 20px 50px;
  overflow-y: scroll;
}

.HeaderCatContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  /* position: sticky;
  top:0px; */
}

.HeaderCatContainerText{
  font-size: 1.8em;
  font-weight: 600;
}

@media (max-width: 960px) {
  .HeaderCatContainerText {
    font-size: 1.5em;
  }
}

.CardItemsContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; 
}

@media (max-width: 960px) {
  .CardItemsContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px; 
  }
}

.CardItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  gap: 10px;
  padding: 10px;
  border-radius: 30px;
  background: #362375;
  background-image: linear-gradient(
    320deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  cursor: pointer;

}

.RandomAllBtn{
  --btn-animation-duration: 1.2s;
  --btn-transition: .3s;
}

.RandomAllBtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 2px 2px 2px 10px;
  /* height: 30px; */
  border-radius: 50px;
  background: #fff;
  border:none;
  cursor: pointer;
  transition: var(--btn-transition);
}

.RandomAllBtn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}
.RandomAllBtn:hover{
  /* box-shadow: 0px 0px 20px #563275; */
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

.RandomAllBtn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.RandomAllBtn:hover span, .RandomAllBtn:focus span {
  color: #7446d5;
}

.RandomAllBtn:hover span::before, .RandomAllBtn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #ab87f3;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgba(141, 68, 218, 0);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}