.FlatBtn {
    --border-color:#ffffff;
    --background-effect-color: #ffffff;
    --border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    cursor: pointer;
    /* height: 30px; */
    /* background: #fff; */
}

.FlatBtn span {
    box-sizing: border-box;
    position: relative;
}

.FlatBtn:not(:disabled):hover {
    transform: scale(1.1);
    color: var(--background-effect-color);
}


.FlatBtn:not(:disabled):active {
    transform: scale(0.9);
    color:  var(--background-effect-color);
}