.FlatBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 8px 15px;
    /* height: 30px; */
    border-radius: 50px;
    background: #fff;
    border: none;
    cursor: pointer;
}

.FlatBtn span {
    box-sizing: border-box;
    position: relative;
}

.FlatBtn:not(:disabled):hover {
    transform: scale(1.1);
    color: #9272fb;
}


.FlatBtn:not(:disabled):active {
    transform: scale(0.9);
    color: #9272fb;
}