.CardItem {
  --card-background-color: linear-gradient(130deg, #7f1b96, #35136b);
  --card-text-color: #ffffff;
  --card-btn-background-color: #9F1CDD;
  --card-btn-border-color: #ffffff;
  --card-btn-text-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  background: #362375;
  background-image: var(--card-background-color);
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.ThemeBlue {
  --card-background-color: linear-gradient(130deg, #5773b5, #2e4788);
  --card-text-color: #ffffff;
  --card-btn-background-color: #3d548c;
  --card-btn-border-color: #ffffff;
  --card-btn-text-color: #ffffff;
}

.ThemeYellow {
  --card-background-color: linear-gradient(130deg, #FFD013, #FFB24D);
  --card-text-color: #000000;
  --card-btn-background-color: #FFB24D;
  --card-btn-border-color: #ffffff;
  --card-btn-text-color: #ffffff;
}

.ThemePink {
  --card-background-color: linear-gradient(130deg, #F44FA3, #C80E78);
  --card-text-color: #ffffff;
  --card-btn-background-color: #EB6CB4;
  --card-btn-border-color: #ffffff;
  --card-btn-text-color: #ffffff;
}

.thfontlight {
  font-weight: 200 !important;
}

.thfontbold {
  font-weight: 300 !important;
}

.CardItemActionStart {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 5px;
}

.CardItemActionEnd {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 5px;
}

.CardItemContent {
  display: flex;
  flex: 8;
  flex-direction: column;
  align-items: flex-start;
  color: var(--card-text-color);
}

.CardItemContent .CardTextContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.CardItemContent .CardTextContainer .CardTitle {
  font-size: 0.7em;
}

.CardItemContent .CardTextContainer .CardDetail {
  font-size: 1.2em;
}

.CardItemActionEnd .IconContainer {
  display: flex;
  /* background: rgb(168 168 168 / 30%);
  border-radius: 0px; */
  padding: 6px;
  align-items: center;
  justify-content: center;
}

.CardItemActionEnd .IconContainer:active {
  transform: scale(0.8);
}

.CardItemActionEnd .IconContainer:active.actionDisable {
  transform: scale(1);
}