.CardItem {
  --card-background-color: linear-gradient(130deg, #7f1b96, #35136b);
  --card-text-color: #ffffff;
  --card-btn-background-color: #9F1CDD;
  --card-btn-border-color: #ffffff;
  --card-btn-text-color:#ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  background: #362375;
  background-image: var(--card-background-color);
  flex:1;
  flex-direction: row;
  align-items: center;
}

.thfontlight {
  font-weight: 200 !important;
}

.thfontbold {
  font-weight: 300 !important;
}
.CardItemActionStart {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 5px;
}

.CardItemActionEnd {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 5px;
}

.CardItemContent{
  display: flex;
  flex: 8;
  flex-direction: column;
  align-items: flex-start;
}

.CardItemContent .CardTextContainer{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.CardItemContent .CardTextContainer .CardTitle{
  font-size: 0.7em;
}
.CardItemContent .CardTextContainer .CardDetail{
  font-size: 1.2em;
}

