.ChipContainer {
  --border-color: #7d198a;
  --color-active: #d7c1ff;
  --color-default: #ffffff;
  --border-radius: 10px;
  --text-color: #620986;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  /* padding: 16px; */
  /* background-color: #0c0c0c33; */
  border-radius: 20px;
  margin-top: 10px;
  justify-content: center;
  z-index: 0;
}

.Chip {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 0.3em 1em;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-weight: 600;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
}

/* .Chip:before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #d7c1ff;
  border-color: #fff;
  transition: .5s ease;
  display: block;
  z-index: -1;
} */

.Chip:hover {
  color: var(--text-color);
  border-color: var(--color-active);
  background: var(--color-active);
}

/* .Chip:hover:before {
  width: 105%;
} */

.ChipSelected {
  background: var(--color-active) !important;
  border-color: var(--color-active);
  color: var(--text-color);
  transition: background 0s;
}


@media (max-width: 500px) {
  .ChipContainer {
    gap: 6px;
  }

  .Chip {
    padding: 0.2em 0.4em;
    font-size: 1em;
  }
}

@media (max-width: 400px) {
  .ChipContainer {
    gap: 6px;
  }

  .Chip {
    padding: 0.2em 0.4em;
    font-size: 0.8em;
  }
  .Chip:hover {
    background: var(--color-default);
  }
}