.main {
  --background-color: linear-gradient(90deg, #8a14d1, #f629c4);
  --primary-color: #d2b5ed;
  --secondary-color: #a447bc;
  --third-color: #7d29a3;

  display: flex;
  min-height: calc(100dvh);
  overflow-y: scroll;
  flex-direction: column;
  background: url("/svgs/svg/blob-scene-haikei.svg"), var(--background-color);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.thfontlight {
  font-weight: 200 !important;
}

.thfontbold {
  font-weight: 300 !important;
}

.HeaderSection {
  z-index: 1;
}

.MobileHeader {
  --logo-color: #ffffff;
  display: none;
  .LayoutHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    height: 60px;
    padding: 1rem 1.2rem !important;
    .textLink {
      .BrandContainer {
        width: 30px;
        height: 30px;
        .LogoContainer svg {
          fill: var(--logo-color);
        }
      }
    }
  }
}

.randomSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 100px;
  // animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.ToolName {
  display: flex;
  justify-content: center;
  .ToolNameText {
    font-size: 5em;
    font-weight: 600;
  }
}

.noteOptionsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  .noteOption {
    font-size: 1.5em;
  }
}
.generatedNotesContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  .noteContainer {
    background-color: var(--primary-color);
    color: #000;
    width: 100%;
    height: 18vw;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    min-width: 450px;
    .noteDisplay {
      .icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.tempoContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  height: 70px;
  .tempoControl {
    height: inherit;
  }
}

@media (max-width: 1250px) and (min-width: 560px) {
  .main {
    --btn--bg-hover: #dc53d6;
    min-height: 100dvh;
  }
  .main::before {
    background-position: right;
  }
}

@media (max-width: 1250px) {
  .randomSection {
    min-height: auto;
    padding: 20px;
  }
}
@media screen and (max-width: 768px) {
  .randomSection {
    padding: 20px;
    gap: 10px;
  }
  .ToolName {
    .ToolNameText {
      font-size: 2.4em;
    }
  }
  .noteOptionsContainer {
    gap: 5px;
    font-size: 0.8em;
    .noteOption {
      font-size: 1.2em;
    }
  }
  .generatedNotesContainer {
    .noteContainer {
      width: 100%;
      padding: 10px;
      min-width: 350px;
    }
  }
  .tempoContainer {
    height: 50px;
  }
}

@media (max-width: 560px) {
  .MobileHeader {
    display: flex;
  }
  .main {
    --btn--bg-hover: #dc53d6;
    min-height: 100dvh;
  }
  .main::before {
    background-position: right;
  }
  .tempoContainer {
    gap: 5px;
    .generateBtn {
      padding: 8px;
      min-width: 50px;
    }
  }
}
