.LayoutHeader {
  display: flex;
  position: sticky;
  align-items: center;
  height: 80px;
  padding: 1rem 2rem !important;
  background: #ffffff;
}

.BrandContainer {
  flex: 1;
  gap: 10px;
  height: inherit;
}

.ToolContainer {
  display: flex;
  align-items: center;
  height: inherit;
  gap: 5px;
}

.FlagContainer {
  overflow: hidden;
  /* height: inherit; */
  cursor: pointer;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
}

.FlagContainer:hover,
.FlagContainer.active {
  padding: 2%;
  border: 2px solid #a765b2;
}

.BrandContainer .LogoContainer {
  display: flex;
  height: inherit;
  align-items: center;
}

.BrandContainer .BrandText {
  /* background: linear-gradient(90deg, #a765b2 0%, #411692 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #7e188b;
  font-weight: bold;
  font-size: 2em;
}

.TopNavigation {
  flex: 3;
  justify-content: flex-end;
  height: inherit;
}

.TopNavigationExpand {
  display: none !important;
  /* flex:1; */
  z-index: 2;
  padding: 28px 25px !important;
  position: absolute;
  right: 0;
}

@media (max-width: 960px) {
  .TopNavigation {
    display: none !important;
  }
}

@media (max-width: 960px) {
  .TopNavigationExpand {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.ExpandMenuContainer {
  position: absolute;
  display: none !important;
  background-color: #0e0e0eed;
  flex: 1;
  flex-direction: column;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.ExpandMenuContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ExpandMenuContent .ExpandMenuContentItem .MenuText {
  color: #a1a1a1;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ExpandMenuContent .ExpandMenuContentItem .MenuText.MenuTextActive {
  color: #ffffff;
}


@media (max-width: 960px) {
  .ExpandMenuContainer {
    display: flex !important;

  }
}


.TopNavigation a {
  /* height: inherit; */
  /* This line is for full height */
  height: 40px;
}

.TopNavigation .TopNavigationMenu {
  margin: 0 5px;
  height: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.TopNavigation .TopNavigationMenu .MenuText {
  color: #411692;
  padding: 0 12px;
}

.TopNavigation .MenuDivider {
  height: 25px;
  border-right: 1px solid #a765b2;
}

.TopNavigation .TopNavigationMenu:hover {
  background-color: #a765b2;
}

.TopNavigation .TopNavigationMenu:hover .MenuText {
  color: #ffffff;
}

.MenuActive {
  background-color: #a765b2;
}

.MenuActive .MenuText {
  color: #ffffff !important;
}

.ExpandMenuIcon {
  --line-gap: 8px;
  --height-bar: 2.5px;
  --pos-y-bar-one: 0;
  --pos-y-bar-three: 0;
  --scale-bar: 1;
  --rotate-bar-one: 0;
  --rotate-bar-three: 0;
  width: 30px;
  display: flex;
  flex-direction: column;
  gap: var(--line-gap);
  cursor: pointer;
  position: relative;
}

.bar {
  position: relative;
  height: var(--height-bar);
  width: 100%;
  border-radius: .5rem;
  background-color: #741f92;
}

.barActive {
  background-color: #ffffff;
}

.bar1 {
  top: var(--pos-y-bar-one);
  transform: rotate(var(--rotate-bar-one));
  transition: top 200ms 100ms, transform 100ms;
}

.bar2 {
  transform: scaleX(var(--scale-bar));
  transition: transform 150ms 100ms;
}

.bar3 {
  bottom: var(--pos-y-bar-three);
  transform: rotate(var(--rotate-bar-three));
  transition: bottom 200ms 100ms, transform 100ms;
}

.ExpandMenu:checked+.ExpandMenuIcon>.bar1 {
  transition: top 200ms, transform 200ms 100ms;
}

.ExpandMenu:checked+.ExpandMenuIcon>.bar3 {
  transition: bottom 200ms, transform 200ms 100ms;
}

.ExpandMenu:checked+.ExpandMenuIcon {
  --pos-y-bar-one: calc(var(--line-gap) + var(--height-bar));
  --pos-y-bar-three: calc(var(--line-gap) + var(--height-bar));
  --scale-bar: 0;
  --rotate-bar-one: 45deg;
  --rotate-bar-three: -45deg;
}

.spanButton.active {
  padding: 2px 6px !important;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff50;
}
