.TagContainer {
  --background-color: #9F1CDD;
  --border-color: #ffffff;
  --text-color:#ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 6px 15px;
  border-radius: 10px;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
}

.TagContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TagContent span {
  color: var(--text-color);
  font-size: 1em;
  font-weight: 600;
}